<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Onde Estudar (www.ondeestudar.net.br)">

	<meta property="og:url"           content="http://www.ondeestudar.net.br" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Onde Estudar" />
	<meta property="og:description"   content="Onde Estudar - Aqui você vai encontrar o lugar certo para fazer o seu curso superior" />
	<meta property="og:image"         content="http://www.ondeestudar.net.br/images/aluno.png" />

	
	<title>Onde Estudar =)</title>
	
		<style type="text/css">
			#container {
			    min-width: 500px;
			    max-width: 900px;
			    margin: 0 auto;
			}
		</style>


	<link rel="shortcut icon" href="/images/aluno.png">
	
	<!-- Bootstrap itself -->
	<link href="/3th-party/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Icons -->
	<link href="/3th-party/font-awesome/css/font-awesome.min.css" rel="stylesheet"> 
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"> 
	<!-- Custom styles -->
	<link rel="stylesheet" href="/css/styles.css">
	
	<!--[if lt IE 9]> <script src="/js/html5shiv.js"></script> <![endif]-->	

	<style type="text/css">
		.back-to-top {
		    cursor: pointer;
		    position: fixed;
		    bottom: 20px;
		    right: 20px;
		    display:none;
		}
	</style>

	<script>
		
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=243651819353536";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script>
		 
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80307609-1', 'auto');
		ga('send', 'pageview');
	</script>
		
	
</head>


<!-- <nav class="navbar navbar-default navbar-fixed-top">
 <div class="container-fluid">
     <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav> -->


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Onde Estudar?</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gráficos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="active"><a href="/graficos/candidatovaga/regiao">Candidato/Vaga por Região</a></li> 
            <li role="separator" class="divider"></li>
            <li><a href="/graficos/enem">ENEM</a></li>
            <li><a href="/graficos/notaconceitoenade">Notas Conceito Enade</a></li>
          </ul>
        </li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- Header -->
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-push-2 text-center">
				<h1>ONDE ESTUDAR</h1>				
				<p class="lead">
					Encontre aqui a Instituição de Ensino que você procura para estudar.
				</p>								
				
								
			</div>			
		</div>	
		<div class="row">
			<div class="col-lg-8 col-lg-push-2 text-center" align="center" style="margin-top: 40px;">
				<%if(errosValidacao){%>		
					<% for(var i=0; i < errosValidacao.length; i++){ %>
						<div class="alert alert-danger alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <strong>Ops!</strong> <%= errosValidacao[i].msg %>
						</div>
					<%}%>
				<%}%>
			</div>			
		</div>	
		<!-- <div class="row">
			<div class="col-lg-12">				
				<div id="illustration">
					<img src="/images/ap-screenshot.png" alt="" >					
				</div>
			</div>
		</div> -->
	</div>
</header>
<!-- /Header -->
	

<!-- Content -->
<main class="content">

	<!-- Lead -->
	<section class="container space-before space-after">

		<!--BACK TO TOP -->
		<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Voltar para o topo da página" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
		
	</section>
	<!-- /Lead -->


<div id="container"></div>

</main>




<p class="small text-muted text-center">Copyright &copy; 2016, PPCA. v0.0.3</p>
<br>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="/3th-party/jquery/jquery-2.2.4.min.js"></script>
<script src="/3th-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/template.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>


<script type="text/javascript">

	$(window).scroll(function () {
		if ($(this).scrollTop() > 50) {
			$('#back-to-top').fadeIn();
		} else {
			$('#back-to-top').fadeOut();
		}
	});
	
	// scroll body to 0px on click
	$('#back-to-top').click(function () {
		$('#back-to-top').tooltip('hide');
		$('body,html').animate({
 			scrollTop: 0
		}, 800);
		
		return false;
	});        	

	$(function () {
	    var data = {
	            'Região Norte': {
	                'Fundação Universidade Federal de Rondônia': {
	                   'Noncommunicable diseases': '19369',
	                    'Injuries': '7.6',
	                    'Communicable & other Group I': '2545'
	                },
	                ' Universidade Federal do Acre': {
	                    'Noncommunicable diseases': '79653',
	                    'Injuries': '37.2',
	                    'Communicable & other Group I': '2140'
	                },
	                '  Universidade Federal do Pará': {
	                    'Communicable & other Group I': '7698',
	                    'Injuries': '29',
	                    'Noncommunicable diseases': '229242'
	                },
	                ' Universidade Federal do Amazonas': {
	                    'Injuries': '24',
	                    'Noncommunicable diseases': '131724',
	                    'Communicable & other Group I': '5466'
	                },
	                ' Fund. Universidade Federal do Tocantins ': {
	                    'Injuries': '18.8',
	                    'Noncommunicable diseases': '63665',
	                    'Communicable & other Group I': '3380'
	                }
	            },
	            'Região Nordeste': {
	                ' Universidade Federal da Paraíba ': {
	                    'Communicable & other Group I': '7790',
	                    'Noncommunicable diseases': '141864',
	                    'Injuries': '18.2'
	                },
	                ' Universidade Fed. do Rio Grande do Norte': {
	                    'Communicable & other Group I': '7593',
	                    'Noncommunicable diseases': '152044',
	                    'Injuries': '20'
	                },
	                ' Universidade Federal da Bahia ': {
	                    'Communicable & other Group I': '7432',
	                    'Noncommunicable diseases': '158843',
	                    'Injuries': '21.4'
	                },
	                ' Universidade Federal de Pernambuco': {
	                    'Communicable & other Group I': '7259',
	                    'Noncommunicable diseases': '44240',
	                    'Injuries': '6.1'
	                },
	                ' Universidade Federal do Maranhão': {
	                    'Injuries': '0.9',
	                    'Communicable & other Group I': '6054',
	                    'Noncommunicable diseases': '5616'
	                              
	                }
	            },
	            'Região Sudeste': {
	                ' Universidade Fed. Fluminense ': {
	                    'Communicable & other Group I': '9323',
	                    'Injuries': '28.4',
	                    'Noncommunicable diseases': '264850'
	                },
	                ' Universidade Fed. do Rio de Janeiro': {
	                    'Noncommunicable diseases': '307742',
	                    'Communicable & other Group I': '9347',
	                    'Injuries': '32.9'
	                },
	                ' Universidade Fed. de Minas Gerais': {
	                    'Communicable & other Group I': '6740',
	                    'Injuries': '54.2',
	                    'Noncommunicable diseases': '365163'
	                },
	                ' Universidade Fed. do Espírito Santo': {
	                    'Noncommunicable diseases': '31479',
	                    'Communicable & other Group I': '5220',
	                    'Injuries': '6'
	                },
	                ' Universidade Fed. de Uberlândia': {
	                    'Communicable & other Group I': '4668',
	                    'Noncommunicable diseases': '76923',
	                    'Injuries': '16.5'
	                }
	                
	                
	            },
	            'Região Sul': {
	                ' Universidade Tecnológica Federal do Paraná': {
	                    'Communicable & other Group I': '7966',
	                    'Noncommunicable diseases': '215614',
	                    'Injuries': '27.1'
	                },
	                ' Universidade Federal de Santa Catarina': {
	                    'Injuries': '5',
	                    'Communicable & other Group I': '6571',
	                    'Noncommunicable diseases': '32982'
	                },
	                ' Universidade Federal do Paraná': {
	                    'Injuries': '20.3',
	                    'Noncommunicable diseases': '123585',
	                    'Communicable & other Group I': '6096'
	                },
	                ' Universidade Federal do Rio Grande do Sul': {
	                    'Injuries': '7.8',
	                    'Noncommunicable diseases': '43530',
	                    'Communicable & other Group I': '5581'
	                },
	                ' Universidade Federal de Santa Maria': {
	                    'Noncommunicable diseases': '30749',
	                    'Injuries': '6',
	                    'Communicable & other Group I': '5153'
	                }
	                
	                
	            },
	            'Região Centro Oeste': {
	                ' Universidade de Brasília ': {
	                    'Injuries': '24.7',
	                    'Noncommunicable diseases': '206269',
	                    'Communicable & other Group I': '8365'
	                },
	                ' Universidade Fed. de Goiás': {
	                    'Injuries': '9.8',
	                    'Communicable & other Group I': '6445',
	                    'Noncommunicable diseases': '62926'
	                },
	                ' Universidade Fed. de Mato Grosso': {
	                    'Injuries': '19.9',
	                    'Noncommunicable diseases': '110315',
	                    'Communicable & other Group I': '5549'
	                },
	                ' Universidade Fed. Mato Grosso do Sul': {
	                    'Injuries': '4.4',
	                    'Noncommunicable diseases': '23734',
	                    'Communicable & other Group I': '5360'
	                },
	                ' Fund. Universidade Fed. da Grande Dourados': {
	                    'Communicable & other Group I': '2155',
	                    'Injuries': '9',
	                    'Noncommunicable diseases': '19419'
	                }
	                
	            }
	        },
	        points = [],
	        regionP,
	        regionVal,
	        regionI = 0,
	        countryP,
	        countryI,
	        causeP,
	        causeI,
	        region,
	        country,
	        cause,
	        causeName = {
	            'Communicable & other Group I': 'Vagas',
	            'Noncommunicable diseases': 'Inscritos',
	            'Injuries': 'Candidato por Vaga'
	        };
	
	    for (region in data) {
	        if (data.hasOwnProperty(region)) {
	            regionVal = 0;
	            regionP = {
	                id: 'id_' + regionI,
	                name: region,
	                color: Highcharts.getOptions().colors[regionI]
	            };
	            countryI = 0;
	            for (country in data[region]) {
	                if (data[region].hasOwnProperty(country)) {
	                    countryP = {
	                        id: regionP.id + '_' + countryI,
	                        name: country,
	                        parent: regionP.id
	                    };
	                    points.push(countryP);
	                    causeI = 0;
	                    for (cause in data[region][country]) {
	                        if (data[region][country].hasOwnProperty(cause)) {
	                            causeP = {
	                                id: countryP.id + '_' + causeI,
	                                name: causeName[cause],
	                                parent: countryP.id,
	                                value: Math.round(+data[region][country][cause])
	                            };
	                            regionVal += causeP.value;
	                            points.push(causeP);
	                            causeI = causeI + 1;
	                        }
	                    }
	                    countryI = countryI + 1;
	                }
	            }
	            regionP.value = Math.round(regionVal / countryI);
	            points.push(regionP);
	            regionI = regionI + 1;
	        }
	    }
	    $('#container').highcharts({
	        series: [{
	            type: 'treemap',
	            layoutAlgorithm: 'squarified',
	            allowDrillToNode: true,
	            animationLimit: 1000,
	            dataLabels: {
	                enabled: false
	            },
	            levelIsConstant: false,
	            levels: [{
	                level: 1,
	                dataLabels: {
	                    enabled: true
	                },
	                borderWidth: 3
	            }],
	            data: points
	        }],
	        subtitle: {
	            text: 'Selecione a Região depois a Universidade desejada e passe o mouse para obter mais detalhes sobre: Vaga, Inscritos e Candidato por Vaga '
	        },
	        title: {
	            text: 'Relação Candidato por Vaga - TOP 5. [Fonte: <a href="http://portal.inep.gov.br" target="_blank">INEP</a>]',
                useHTML: true
	        },
            credits: {
                text: 'Ondeestudar.net.br',
                href: 'http://www.ondeestudar.net.br'
            }
	    });
	});


</script>

<body>





</body>
</html>
