<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link rel="icon" type="image/png" href="/images/aluno.png">
<title>Onde estudar?</title>
<style>
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}

#right-panel {
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#right-panel select, #right-panel input {
	font-size: 15px;
}

#right-panel select {
	width: 100%;
}

#right-panel i {
	font-size: 12px;
}

#right-panel {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 5px;
	top: 60%;
	margin-top: -195px;
	height: 330px;
	width: 200px;
	padding: 5px;
	z-index: 5;
	border: 1px solid #999;
	background: #fff;
}

#right-panel h2 {
	font-size: 22px;
	margin: 0 0 5px 0;
}

#right-panel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 271px;
	width: 200px;
	overflow-y: scroll;
}

#right-panel li {
	background-color: #f1f1f1;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#right-panel li:nth-child(odd) {
	background-color: #fcfcfc;
}

#more {
	width: 100%;
	margin: 5px 0 0 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	background-color: #f1f1f1;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

li:nth-child(odd) {
	background-color: #fcfcfc;
}
</style>
<script>
	function HideContent(d) {
		document.getElementById(d).style.display = "none";
	}
	function ShowContent(d) {
		document.getElementById(d).style.display = "block";
	}
	function ReverseDisplay(d) {
		if (document.getElementById(d).style.display == "none") {
			document.getElementById(d).style.display = "block";
		} else {
			document.getElementById(d).style.display = "none";
		}
	}
</script>


</head>
<body>
	<input id="pac-input" class="controls" type="text"
		placeholder="Procure seu curso aqui!">
	<div id="map"></div>
	<div id="right-panel">
		<h2>Resultados</h2>
		<ul id="places"></ul>
		<button id="more">Mais resultados</button>
	</div>

	<script>
		// This example adds a search box to a map, using the Google Place Autocomplete
		// feature. People can enter geographical searches. The search box will return a
		// pick list containing a mix of places and predicted search terms.

		// This example requires the Places library. Include the libraries=places
		// parameter when you first load the API. For example:
		// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

		function initAutocomplete() {

			var map = new google.maps.Map(document.getElementById('map'), {
				center : {
					lat : -15.7633,
					lng : -47.8702
				},
				zoom : 11,
				mapTypeId : google.maps.MapTypeId.ROADMAP
			});

			var resultado = [];
			var cursos = [];
			<% resultado.forEach(function (result, index) { %>
			cursos = [];
			<% result.cursos.forEach(function (curso, indexCurso) { %>
			cursos.push({nome:'<%= curso.nome %>'});
			<% }); %>	
			resultado.push({nome:'<%= result.nome %>',
							coord : {lat : <%= result.coord.lat %>, lng : <%= result.coord.lng %>},
							cursos: cursos});						
			<% }); %>
			

			resultado.forEach(function (item, index) {

				var marker = new google.maps.Marker({
					position : item.coord,
					map : map,
					icon : '/images/educa_marcador.png',
					title : item.nome
				});

				var contentString = '<div id="content">'
					+ '<div id="siteNotice">'
					+ '</div>'
					+ '<h1 id="firstHeading" class="firstHeading">'+item.nome+'</h1>'
					+ '<div id="bodyContent">'
					+ '<p><b>Cursos:</b></p>'
					+ '<ul>';

				item.cursos.forEach(function (curso, indexCurso) {
					contentString = contentString + '<li>' + curso.nome + '</li>';
				});

				contentString = contentString 
					+ '</ul>'
					+ '</div>' 
					+ '</div>';

				var infowindow = new google.maps.InfoWindow({
					content : contentString,
					maxWidth : 400
				});

				marker.addListener('click', function() {
					infowindow.open(map, marker);
				});

			});

			/*
			
			var unb = {
				lat : -15.7633,
				lng : -47.8702
			};
			var ceub = {
				lat : -15.7670,
				lng : -47.8957
			};
			var ucb = {
				lat : -15.8658,
				lng : -48.0328
			};

			var contentString = '<div id="content">'
					+ '<div id="siteNotice">'
					+ '</div>'
					+ '<h1 id="firstHeading" class="firstHeading">Universidade de Brasília - UnB</h1>'
					+ '<div id="bodyContent">'
					+ '<p><b>Cursos:</b></p>'
					+ '<ul><li>Matematica(Vagas: 30, Concorrencia: 10/1, Conceito ENADE: 5)</li> '
					+ '<li>Medicina(Vagas: 20, Concorrencia: 100/1, Conceito ENADE: 7)</li> '
					+ '<li>Pedagogia(Vagas: 40, Concorrencia: 7/1, Conceito ENADE: 4)</li> '
					+ '<li>Zootecnia(Vagas: 50, Concorrencia: 12/1, Conceito ENADE: 6)</li></ul>'
					+ '</div>' + '</div>';
			var contentString2 = '<div id="content">'
					+ '<div id="siteNotice">'
					+ '</div>'
					+ '<h1 id="firstHeading" class="firstHeading">Centro Universitario de Brasília - CEUB</h1>'
					+ '<div id="bodyContent">'
					+ '<p><b>Medicina</b></p>'
					+ '<ul><li>Número de vagas ofertadas para vestibular: <b>30</b></li> '
					+ '<li>Número de vagas ofertadas para SISU: <b>30</b></li> '
					+ '<li>Concorrência no vestibular: <b>200 candidatos/vaga</b></li> '
					+ '<li>Concorrência no SISU: <b>100 candidatos/vaga</b></li>'
					+ '<li>Taxa de desistência para ingressos via vestibular: <b>1%</b></li>'
					+ '<li>Taxa de desistência para ingressos via SISU: <b>2%</b></li>'
					+ '<li>Conceito ENADE: <b>7</b></li>'
					+ '<li><p><a href="http://guiadoestudante.abril.com.br/universidades/saude-e-bem-estar/medicina-centro-universitario-de-brasilia-281070.shtml" target="_blank">Mais sobre o curso</a></p>'
					+ '<p><a href="http://guiadoestudante.abril.com.br/profissoes/saude/medicina-690586.shtml" target="_blank">Mais sobre a profissão</a></p></li>'
					+ '<li>*Dados referentes ao ano de 2015</li></ul>'
					+ '</div>' + '</div>';
			var contentString3 = '<div id="content">'
					+ '<div id="siteNotice">'
					+ '</div>'
					+ '<h1 id="firstHeading" class="firstHeading">Universidade Catolica de Brasília - UCB</h1>'
					+ '<div id="bodyContent">'
					+ '<p><b>Cursos:</b></p>'
					+ '<ul><li><a href="javascript:ReverseDisplay(\'uniquename1\')">Matematica</a> '
					+ '<div id="uniquename1" style="display:none;"> '
					+ '<p>Número de vagas ofertadas para vestibular: <b>30</b></p> '
					+ '<p>Número de vagas ofertadas para SISU: <b>30</b></p> '
					+ '<p>Concorrência no vestibular: <b>200 candidatos/vaga</b></p> '
					+ '<p>Concorrência no SISU: <b>100 candidatos/vaga</b></p>'
					+ '<p>Taxa de desistência para ingressos via vestibular: <b>1%</b></p>'
					+ '<p>Taxa de desistência para ingressos via SISU: <b>2%</b></p>'
					+ '<p>Conceito ENADE: <b>7</b></p>'
					+ '</div></li> '
					+ '<li><a href="javascript:ReverseDisplay(\'uniquename2\')">Medicina</a> '
					+ '<div id="uniquename2" style="display:none;"> '
					+ '<p>Número de vagas ofertadas para vestibular: <b>30</b></p> '
					+ '<p>Número de vagas ofertadas para SISU: <b>30</b></p> '
					+ '<p>Concorrência no vestibular: <b>200 candidatos/vaga</b></p> '
					+ '<p>Concorrência no SISU: <b>100 candidatos/vaga</b></p>'
					+ '<p>Taxa de desistência para ingressos via vestibular: <b>1%</b></p>'
					+ '<p>Taxa de desistência para ingressos via SISU: <b>2%</b></p>'
					+ '<p>Conceito ENADE: <b>7</b></p>'
					+ '</div></li> '
					+ '<li><a href="javascript:ReverseDisplay(\'uniquename3\')">Pedagogia</a> '
					+ '<div id="uniquename3" style="display:none;"> '
					+ '<p>Número de vagas ofertadas para vestibular: <b>30</b></p> '
					+ '<p>Número de vagas ofertadas para SISU: <b>30</b></p> '
					+ '<p>Concorrência no vestibular: <b>200 candidatos/vaga</b></p> '
					+ '<p>Concorrência no SISU: <b>100 candidatos/vaga</b></p>'
					+ '<p>Taxa de desistência para ingressos via vestibular: <b>1%</b></p>'
					+ '<p>Taxa de desistência para ingressos via SISU: <b>2%</b></p>'
					+ '<p>Conceito ENADE: <b>7</b></p>'
					+ '</div></li> '
					+ '<li><a href="javascript:ReverseDisplay(\'uniquename4\')">Zootecnia</a> '
					+ '<div id="uniquename4" style="display:none;"> '
					+ '<p>Número de vagas ofertadas para vestibular: <b>30</b></p> '
					+ '<p>Número de vagas ofertadas para SISU: <b>30</b></p> '
					+ '<p>Concorrência no vestibular: <b>200 candidatos/vaga</b></p> '
					+ '<p>Concorrência no SISU: <b>100 candidatos/vaga</b></p>'
					+ '<p>Taxa de desistência para ingressos via vestibular: <b>1%</b></p>'
					+ '<p>Taxa de desistência para ingressos via SISU: <b>2%</b></p>'
					+ '<p>Conceito ENADE: <b>7</b></p>'
					+ '<p><a href="http://guiadoestudante.abril.com.br/universidades/ciencias-biologicas-e-da-terra/zootecnia-upis-faculdades-integradas-248535.shtml" target="_blank">Mais sobre o curso</a></p>'
					+ '<p><a href="http://guiadoestudante.abril.com.br/profissoes/meio-ambiente-ciencias-agrarias/zootecnia-687893.shtml" target="_blank">Mais sobre a profissão</a></p>'
					+ '</div></li> </ul>' + '</div>' + '</div>';

			var infowindow = new google.maps.InfoWindow({
				content : contentString,
				maxWidth : 400
			});
			var infowindow2 = new google.maps.InfoWindow({
				content : contentString2,
				maxWidth : 400
			});
			var infowindow3 = new google.maps.InfoWindow({
				content : contentString3,
				maxWidth : 400
			});

			var marker = new google.maps.Marker({
				position : unb,
				map : map,
				icon : '/images/educa_marcador.png',
				title : 'Universidade de Brasília - UnB'
			});
			marker.addListener('click', function() {
				infowindow.open(map, marker);
			});
			var marker2 = new google.maps.Marker({
				position : ceub,
				map : map,
				icon : '/images/educa_marcador.png',
				title : 'Centro Universitario de Brasília - CEUB'
			});
			marker2.addListener('click', function() {
				infowindow2.open(map, marker2);
			});
			var marker3 = new google.maps.Marker({
				position : ucb,
				map : map,
				icon : '/images/educa_marcador.png',
				title : 'Universidade Catolica de Brasília - UCB'
			});
			marker3.addListener('click', function() {
				infowindow3.open(map, marker3);
			});
			
			*/

			// Create the search box and link it to the UI element.
			var input = document.getElementById('pac-input');
			var searchBox = new google.maps.places.SearchBox(input);
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

			// Bias the SearchBox results towards current map's viewport.
			map.addListener('bounds_changed', function() {
				searchBox.setBounds(map.getBounds());
			});

			var markers = [];
			// Listen for the event fired when the user selects a prediction and retrieve
			// more details for that place.
			searchBox.addListener('places_changed', function() {
				var places = searchBox.getPlaces();

				if (places.length == 0) {
					return;
				}

				// Clear out the old markers.
				markers.forEach(function(marker) {
					marker.setMap(null);
				});
				markers = [];

				// For each place, get the icon, name and location.
				var bounds = new google.maps.LatLngBounds();
				places.forEach(function(place) {
					var icon = {
						url : place.icon,
						size : new google.maps.Size(71, 71),
						origin : new google.maps.Point(0, 0),
						anchor : new google.maps.Point(17, 34),
						scaledSize : new google.maps.Size(25, 25)
					};

					// Create a marker for each place.
					markers.push(new google.maps.Marker({
						map : map,
						icon : icon,
						title : place.name,
						position : place.geometry.location
					}));

					if (place.geometry.viewport) {
						// Only geocodes have viewport.
						bounds.union(place.geometry.viewport);
					} else {
						bounds.extend(place.geometry.location);
					}
				});
				map.fitBounds(bounds);
			});
			/*
			var service = new google.maps.places.PlacesService(map);
			service.nearbySearch({
				location : unb,
				radius : 500,
				type : [ 'store' ]
			}, processResults);
			*/
		}

		function processResults(results, status, pagination) {
			if (status !== google.maps.places.PlacesServiceStatus.OK) {
				return;
			} else {
				//alteracao de results
				results = [ {
					icon : '',
					name : 'UnB'
				}, {
					icon : '',
					name : 'CEUB'
				}, {
					icon : '',
					name : 'UCB'
				} ];
				createMarkers(results);

				if (pagination.hasNextPage) {
					var moreButton = document.getElementById('more');

					moreButton.disabled = false;

					moreButton.addEventListener('click', function() {
						moreButton.disabled = true;
						pagination.nextPage();
					});
				}
			}
		}

		function createMarkers(places) {
			var bounds = new google.maps.LatLngBounds();
			var placesList = document.getElementById('places');

			for (var i = 0, place; place = places[i]; i++) {
				var image = {
					url : place.icon,
					size : new google.maps.Size(71, 71),
					origin : new google.maps.Point(0, 0),
					anchor : new google.maps.Point(17, 34),
					scaledSize : new google.maps.Size(25, 25)
				};
				/*
				var marker = new google.maps.Marker({
				  map: map,
				  icon: image,
				  title: place.name,
				  position: place.geometry.location
				});
				 */
				placesList.innerHTML += '<li>' + place.name + '</li>';

				//bounds.extend(place.geometry.location);
			}
			map.fitBounds(bounds);
		}
	</script>
	<script
		src="https://maps.googleapis.com/maps/api/js?language=pt-BR&key=AIzaSyAaOpMtN454GfUSKhLwSduchIfLuZgEoxw&libraries=places&callback=initAutocomplete"
		async defer></script>
</body>
</html>