<html>
<head>
	<meta charset="UTF-8">
	<title>500 - Error</title>
	
	<!-- IMPORTS DOS CSS, JAVASCRIPT -->
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/3th-party/font-awesome/css/font-awesome.min.css" >
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/3th-party/bootstrap/css/bootstrap.min.css" >
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="/3th-party/bootstrap/css/bootstrap-theme.min.css">
	
	<!-- JQUERY -->
	<script src="/3th-party/jquery/jquery-2.2.4.min.js" ></script>

	<!-- Bootstrap JavaScript -->
	<script src="/3th-party/bootstrap/js/bootstrap.min.js" ></script>
	
</head>

<body>
	<h1>Caramba, ocorreu um erro inesperado. =( </h1>
	<p>Nossa equipe está correndo para corrigi-lo para você. =) </p>
</body>
</html>