@media screen and (max-width: 1024px){
	iframe {
		width:100%;
	}
	
}

@media screen and (max-width: 1364px) and (min-width:1025px) {
	iframe {
		width:47%;
	}
	
}


@media screen and (max-width: 1599px) and (min-width:1365px) {
	iframe {
		width:35%;
	}
	
}

@media screen and (min-width: 1600px) {
	iframe {
		width:30%;
	}
	
}
